<div style="float: left;"><%= link_to "< Back to HomePage",home_index_path %></div>

<center>
<h2>Sign up</h2>

<%= form_tag users_registration_path, :method => :post do %>
  <%= devise_error_messages! %>

  <div><%= label_tag :email %><br />
  <%= email_field_tag :email %></div><br />
  
  <div><%= label_tag :name %><br />
  <%= text_field_tag :name %></div><br />

  <div><%= label_tag :password %><br />
    <%= password_field_tag :password %></div><br />

  <div><%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %></div><br />

  <div><%= submit_tag "Sign up" %></div>
<% end %>
</center>

