<center>
<h2>Forgot your password?</h2>

<%= form_tag users_request_change_password_path, :method => :post do %>
  <%= devise_error_messages! %>

  <div><%= label_tag :email %><br />
  <%= email_field_tag :email %></div>

  <div><%= submit_tag "Send me reset password instructions" %></div>
<% end %>
</center>
